@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Red+Hat+Display:wght@500;700;900&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    min-height: 100vh;
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    position: relative;/* as the container is positioned relative to the body*/
    font-size: 16px;
}

.container {
    position: absolute; /*position of container is absolute, it is in center of body*/
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); /*this is how to center properly*/
    max-width: 450px;
    background-color: white;
    /* how to make the borders rounded*/
    border-radius: 20px;
    overflow: hidden;
}

.text-content {
    padding: 7%; /* padding around all elements */
    text-align: center; /* make all text in center in this block */
}

.title {
    color: hsl(223, 47%, 23%);
    font-weight: 900; /*thicker*/
    font-size: 32px;
    margin-bottom: 20px; /*add more margin to the bottom*/
}

.text-content p.subtitle {
    color: #2d3033;
    margin-bottom: 25px;
}

.plan-box {
    background-color: hsl(225, 100%, 94%);
    border-radius: 12px;
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: space-between;
}

.plan-box-left {
    display: flex;
    align-items: center;
    text-align: left;
}

.plan-box-left div {
    margin-left: 20px; /*add space to left*/
}

.plan-box-left div h5 {
    font-weight: 900;
    font-size: 15px;
    color: hsl(223, 47%, 23%);
}

.plan-box-left div p {
    color: #2d3033;
    font-size: 15px;
}

.plan-box a {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.plan-box a:hover {
    /* no underline, change colour, animation */
    text-decoration: none;
    color: hsl(245, 75%, 52%);
    transition: color .3s ease;
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a.proceed-btn {
    text-decoration: none; /*no underline as a link*/
    color: white;
    background: hsl(245, 75%, 52%);
    border-radius: 12px;
    padding: 20px 0;
    margin: 20px 0;
    text-align: center;
    width: 400px;
}

a.proceed-btn:hover {
    background-color: hsl(224, 23%, 55%);
    transition: background-color .3s ease;
}

a.cancel-btn {
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    border-radius: 12px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 20px;
}

a.cancel-btn:hover {
    color: hsl(223, 47%, 23%);
}

/* MEDIA QUERY FOR MOBILE VERSION */

@media only screen and (max-width: 425px) {
    body {
        background-image: url(./images/pattern-background-mobile.svg);
        font-size: 14px;
    }
    .container {
        max-width: 80%;
    }

    .title {
        font-size: 23px;
    }
    .plan-box-left div {
        margin-left: 5%; /*add space to left*/
    }
    
    .plan-box-left div h5{
        font-size: 95%;
    }


    .plan-box a {
        font-size: 90%;
    }

    .plan-box {
        padding: 10px;
    }
    a.proceed-btn {
        width: 85%;
        padding: 15px 0;
        margin: 15px 0;

    }
}